<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: May 27, 2024</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSevaNHVb2lOgaIgxb4r_R71u24yRxZm85GCHqdFcfBN4UjBWA/viewform?usp=sf_link" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>9:00</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td>Introduction to R</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Assigning objects</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Vectors, Matrices</td>
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td>
      </tr>
    </table>
</div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: May 28, 2024</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td> Exploring Datasets </td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Creating Basic plots </td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Creating Basic Functions </td>
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td> Wrap up and Exercises</td> 
      </tr>
      <tr> 
         <td>13:00</td>  <td>Finish day two</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScil6SVPsIaF18XzooQ1uGLW0jQXAzurkJLfDnAWy5MxBJeqQ/viewform?usp=sf_link" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
